{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>



{% block title %}Home - My Portfolio{% endblock %}

<html lang="en">
<head>
    
</head>
{% block content %}
<body>

    <header>
        <h1>Welcome to My Portfolio</h1>
        <p>Software Developer | Game Tester</p>
    </header>

    <div class="container">
        <section class="intro">
            <h2>About Me</h2>
            <p>Hello! I'm a passionate software developer with experience in Python, Django, React, and game testing. I specialize in creating intuitive and engaging software solutions and enjoy learning new technologies.</p>
        </section>

        <section class="projects">
            <h2>My Projects</h2>

            {% if projects_list %}
                <ul>
                    {% for project in projects_list %}
                        <a href="/{{ project.name }}/details/" class="project-card">
                            <div>
                                <h3>{{ project.name }}</h3>
                                
                                    {% for screen in project.screenshots.all %}
                                        <img src="{{ screen.image.url }}" alt="project">
                                    {% endfor %}
           
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No projects are added.</p>
            {% endif %}

        </section>
    </div>

    <footer>
        <p>Contact me: <a href="mailto:your-email@example.com" style="color: white;">your-email@example.com</a></p>
    </footer>

</body>
{% endblock %}
</html>
